@model WebApplication1.Models.Students

@{
    ViewData["Title"] = "View Student";
}

<h2>View Student</h2>

<div>
    <h4>Students</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "EditStudent", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Studentslist">Back to List</a>
</div>
